*{
    font-family: 'Plus Jakarta Sans';
}
/* dekstop */
@media (min-width: 992px) { 
    .navbar-mobile{
        display: none;
    }
}
/* mobile */
@media (max-width: 992px) { 
    .navbar-desktop, footer{
        display: none;
    }
}
.navbar-toggler:focus{
    box-shadow: none;
}