@font-face {
    font-family: 'plus jakarta sans';
    src: url('../assets/Font/PlusJakartaSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'plus jakart sans-italic';
    src: url('../assets/font/PlusJakartaSans-Italic-VariableFont_wght.ttf');
}

:root{
    --color1:#F8E9A1;
    --color2:#F76C6C;
    --color3:#A8D0E6;
    --color4:#374785;
    --color5:#24305E;
    --color6:#F9FBFD;
    --color7:#E6F7FF;
    --color8:#BFBFBF;
    --color9:#096DD9;
    --color10:#BAE7FF;
    --color11:#E6F7FF;
    --color12:#F0F0F0;

}